/* INICIO */
.logo {
    width: 45px;
    height: auto;
}
.inicio {
    height: 100vh;
    background-image: url('../images/doctor-inicio.jpg');
    background-size: cover;
}
.inicio-logo {
    margin-top: 40%;
    margin-left: 150px;
}
/* CITAS */
.doctor-img {
    border-radius: 15px;
    width: 80%;
    object-fit: cover;
}
/* SERVICIOS */
.doctor2-img {
    border-radius: 15px;
    width: 80%;
    object-fit: cover;
}
/* CONSEJOS */
.articulos {
    width: 300px;
    height: auto;
    border-radius: 10px;
}
/* FOOTER */
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
}
.fab {
    color: white;
    font-size: 1.6em;
}
.fab:hover {
    color: rgb(40, 9, 107);
}
